body {
		background-color: white;
	    color: black;
	    max-width: 60%;
	    margin: auto;
	
	    
}



section {
		border-style: dotted;
		border-width: 1px;
		border-color: black;
		margin-bottom: 10px;
		padding: 0 10px 0 10px;

}
