	body{
		max-width: 750px;
		padding: 4px 20px 4px 20px;
		border-radius: 5px;
		margin: auto;
		
	}
	
	form{
		max-width: 100%;
		margin: 10px;
		padding: 5px 15px 5px 15px;
		border-radius: 5px;
		border: 1px solid;

	}

	
	input[type=text], [type=email], [type=number], select{
		width: 100%;
		padding: 10px 15 px;
		border: 2px dark gray;
		display: inline-block;
		border-radius: 5px;
		box-sizing: border-box;
		margin: 7px;
	}

    input[type=image]{
		margin: auto;
		display: block; 
	}