/* &&& adjust width specs */
html, body{
	height: auto;
	margin: auto;					/* margin: auto; */
}

#wrapper{
	position: relative;
	margin: auto;					/* margin: auto 5% auto 5%; */
	height: auto;
	max-width: 960px;
	min-width: 750px;				/* 525 maintains integrity of navbar */
	border: 3px solid #e8c271;
	border-top: none;
	background-color: #ffeddf;
	overflow: auto;
}


/*
******************************
*	Banner 
******************************
*/

.banwrap {
	position:relative;
	text-align: center;
}

.banwrap div {
    margin: 0 133px;
    height: 153px;

}

.banwrap div:first-child,
.banwrap div:last-child {
    position: absolute;
    top: 0;
    width: 133px;
}

.banwrap div:first-child {
    left: -133px;
}

.banwrap div:last-child {
    right:-133px;
}

.centered{
	position: relative;
	padding-top: 25px;
	box-sizing: border-box;
}


/*
*************************************
*	Navbar in the following lines
*************************************
*/
#navbar {
	margin-top: -5px;
	height: 48px;
	width: 100%;
	text-align: center;
	background-color: #e8c271;
	display: inline-block;
	font-size: 22px;
}

/* Navbar-list */
#navbar ul{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;	
	display: inline-block;
	
}

#navbar li{
	float: left;
}

#navbar li a, .dropdownbtn{
	display: inline-block;
	color: #4e3d42;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}

#navbar li a:hover, .dropdown:hover .dropdownbtn {
	background-color: #f2ccc3;
}

#navbar li.dropdown{
	display: inline-block;
}

#navbar .dropdown-content{
	display: none;
	position: absolute;
	background-color: #e8c271;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 9999; 
	/* ^makes sure navbar is always in front of content */
}

#navbar .dropdown-content a{
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;	
}

#navbar .dropdown-content a:hover{
	background-color: #f2ccc3;
}

#navbar .dropdown:hover .dropdown-content{
	display: block;	
}

/*
***************************************
*	Body - content
***************************************
*/

#divBody {
	width: 100%;
	min-height: 450px;
	max-height: auto;
	color: #4e3d42;
	
	font-family: georgia;
	font-size: 18px;
}

#divBody img {
	display: block;
	margin-bottom: 16px;
}

#nameOfPage {
	text-align: center;
	height: 30px;
}

#bodyLeft{
	position: relative;
	float: left;
	margin: 1% 0 0 5%;
	width: 45%;
}


#bodyRight{
	position: relative;
	float: right;
	margin: 1% 2% 0 0;
	width: 45%;
	
}

#bodyLeft35{
	position: relative;
	float: left;
	margin: 1% 0 0 5%;
	width: 35%;
}

#bodyRight55{
	position: relative;
	float: left;
	margin: 1% 2% 0 0;
	width: 55%;
}

#raccoonCat{
	width: 75%;
	margin: auto;
}

/* 
************************************
*	ourCats Slidwshow below
************************************ 
*/
.catPictures img{
	position: relative;
	float: left;
	margin: 0 0 0 35%;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
.numbertextOurCats{
	text-align: center;
	
}
.textOurCats{
	background-color: white;
	margin: 5% 5% 1% 50%;
	border-style: solid;
}


/*
************************************ 
*	Form styling below 
************************************ 
*/
form {
		max-width: 60%;
		margin:auto;
		padding: 10px 15px 5px 15px;
		border-radius: 5px;
		border: 1px solid;
		min-height: 20px;
		

}

form input[type=text], [type=email], [type=number], select{
		width: 80%;
		padding: 10px 15 px;
		border: 2px dark gray;
		display: inline-block;
		border-radius: 5px;
		box-sizing: border-box;
		margin: 7px;
		text-align: center;
}

form input[type=image]{
		margin: auto;
		display: block; 
	}

form{
		text-align: center;
}
/*
****************************************
*	Footer
****************************************
*/

.footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	display: block;
	padding-top: 20px;
	height: 20px;
}


/*
****************************************
*	Media Queries to smooth size scaling
****************************************
 */
 
 @media(max-width: 960px){
	 #wrapper{
		 margin: 0 3% 0 3%;
	 }
 }
 
@media (max-width: 800px){
	#wrapper{
		margin: 0 2% 0 2%;
	}
}

@media (max-width: 750px){
	#wrapper {
		margin: 0 1% 0 1%;
	}
}

@media(max-width: 700px){
	#wrapper {
		margin: 0 auto;
	}
}







