/*
FILE NAME: style.css
WRITTEN BY: Fredrik I. Forså & group
WHEN: October - November 2016
PURPOSE: Main features were created by Fredrik,
		the rest of the content was added on as
		content was added to each individual page.
		One shared css for the entire website.
*/

html, body{
	height: auto;
	margin: auto;					
}

/*	All content goes within the wrapper. 
*	Sets the min-width of website to 750px.
*	Sets the max-width of website to 960px.
*/
#wrapper{
	position: relative;
	margin: auto;					
	height: auto;
	max-width: 960px;
	min-width: 750px;				
	border: 3px solid #e8c271;
	border-top: none;
	background-color: #ffeddf;
	overflow: auto;
}


/*
******************************
*	Banner 
******************************
*/

.banwrap {
	position:relative;
	text-align: center;
}

.banwrap div {
    margin: 0 133px;
    height: 153px;

}

.banwrap div:first-child,
.banwrap div:last-child {
    position: absolute;
    top: 0;
    width: 133px;
}

.banwrap div:first-child {
    left: -133px;
}

.banwrap div:last-child {
    right:-133px;
}

.centered{
	position: relative;
	padding-top: 25px;
	box-sizing: border-box;
}


/*
*************************************
*	Navbar in the following lines
*************************************
*/
#navbar {
	margin-top: -5px;
	height: 48px;
	width: 100%;
	text-align: center;
	background-color: #e8c271;
	display: inline-block;
	font-size: 22px;
}

/* Navbar-list */
#navbar ul{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;	
	display: inline-block;
	
}

#navbar li{
	float: left;
}

#navbar li a, .dropdownbtn{
	display: inline-block;
	color: #4e3d42;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}

#navbar li a:hover, .dropdown:hover .dropdownbtn {
	background-color: #f2ccc3;
}

#navbar li.dropdown{
	display: inline-block;
}

#navbar .dropdown-content{
	display: none;
	position: absolute;
	background-color: #e8c271;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 9999; 
	/* ^makes sure navbar is always in front of content */
}

#navbar .dropdown-content a{
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;	
}

#navbar .dropdown-content a:hover{
	background-color: #f2ccc3;
}

#navbar .dropdown:hover .dropdown-content{
	display: block;	
}

/*
***************************************
*	Body - content
***************************************
*/

#divBody {
	width: 100%;
	min-height: 450px;
	max-height: auto;
	color: #4e3d42;
	
	font-family: georgia;
	font-size: 18px;
}

#divBody img {
	display: block;
	margin-bottom: 16px;
}

#nameOfPage {
	text-align: center;
	height: 30px;
}

#bodyLeft{
	position: relative;
	float: left;
	margin: 1% 0 0 5%;
	width: 45%;
}


#bodyRight{
	position: relative;
	float: right;
	margin: 1% 2% 0 0;
	width: 45%;
	
}

#bodyLeft35{
	position: relative;
	float: left;
	margin: 1% 0 0 5%;
	width: 35%;
}

#bodyRight55{
	position: relative;
	float: left;
	margin: 1% 2% 0 0;
	width: 55%;
}

/* raccoon = handIn */
#raccoonCat{
	width: 75%;
	margin: auto;
}

/* 
************************************
*	ourCats Slideshow below
************************************ 
*/
.catPictures img{
	position: relative;
	float: left;
	margin: 0 0 0 35%;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
#catNumber{
	text-align: center;
	
}
#catText{
	background-color: white;
	margin: 5% 5% 1% 50%;
	border-style: solid;
}


/*
************************************ 
*	Form styling below 
************************************ 
*/
form {
		max-width: 60%;
		margin:auto;
		padding: 10px 15px 5px 15px;
		border-radius: 5px;
		border: 1px solid;
		min-height: 20px;
		

}

form input[type=text], [type=email], [type=number], select, textarea{
		width: 80%;
		padding: 10px 15 px;
		border: 2px dark gray;
		display: inline-block;
		border-radius: 5px;
		box-sizing: border-box;
		margin: 7px;
		text-align: center;
}

form input[type=image]{
		margin: auto;
		display: block; 
	}

form{
		text-align: center;
}


/*
****************************************
*	Entertainment 
****************************************
*/

.imgContainer{
	height: 100%;
	width; 60%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#upperRow, #lowerRow {
	display:flex;
	padding: 5px 25px 5px;
	position: relative;
}

 .thumbnail:hover{
	opacity: 0.5;
}

.thumbnail img{
	width:120px;
	position: relative;
	height:120px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	border: solid 1px;
	cursor:pointer;
	transition: 0.3s;
}
.thumbnail{
		width:120px;
	position: relative;
	height:120px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	border: solid 1px;
	cursor:pointer;
	transition: 0.3s;
}

.modal{
	display:none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color:  rgb(0,0,0); 
	background-color: rgba(0,0,0,0.9);
	
}

.modal-content {
	margin:auto;
	display: block;
	width: 50%;
	max-width: 700px;
	height: 80%;
	-webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.5s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}



.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
	
	
/*
****************************************
*	Footer
****************************************
*/

.footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 20px;
	text-align: center;
	display: block;
	padding-top: 20px;
	height: 20px;
}


/*
****************************************
*	Media Queries to smooth size scaling
****************************************
 */
 
 @media(max-width: 960px){
	 #wrapper{
		 margin: 0 3% 0 3%;
	 }
 }
 
@media (max-width: 800px){
	#wrapper{
		margin: 0 2% 0 2%;
	}
}

@media (max-width: 750px){
	#wrapper {
		margin: 0 1% 0 1%;
	}
}

@media(max-width: 700px){
	#wrapper {
		margin: 0 auto;
	}
}

@media(max-width: 500px){
	#upperRow, #lowerRow, .imgContainer{
		flex-direction: column;
		margin: auto;
	}
}

/* 
************************************
*	catCare Slidwshow below
************************************ 
*/
#catCareRight {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: block;
	border-radius: 10px; 
	border: 3px solid #4e3d42;
}

#catCareTips {
	height: 150px;
}

#catCare1, #catCare2, #catCare3, #aboutImage {
	width: 100%;
}




