html, body {
	
	background-color: white;
    color: black;

    height: 100%;
    max-width: 960px;
    margin: auto;
}    

#wrapper {
	position: relative;
	padding: center;
	margin: 0 10% 0 10%;
	font-family: Georgia, Helvetica; 
	/* ^Georgia is nice, fall-back=helvetica */	
}

h1 {
	text-align: center;
	font-style: italic;
	font-size: 36pt;
}

h4 {
	margin: 0 0 -15px 0;
	padding: 0;
}

section {
		border-style: dotted;
		border-width: 1px;
		border-color: black;
		margin-bottom: 10px;
		padding: 0 10px 0 10px;
		font-size: 13pt;
}

